/* @override https://elmaaler-c9-rasmuslp.c9.io/style.css */


.container {
}

html {
    overflow:scroll;
}

body {
    background-color:#f2f2f2;
}

.logoTron {
    background-color: #9dbc8b;
    margin-bottom: 0px;
}

.adminPanel {
	width: 200px;
	position: fixed;
	z-index: 10;
	top: 10px;
	left: 10px;
	display: block;
	display: none;
}

#splash {
    z-index:999;
}

.tabContainer {
	color: white;
	padding: 40px;
	width: 100%;
}


.text {
	width: 700px;
	transition: all 0.4s ease;
	
}

.btn-tab {
	background-color: #9dbc8b;	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.btn-tab:hover{
	color: #9dbc8b;
	background-color: #fff;
	transition: all 0.4s ease;
	
}


.btn-tab.selected{
	font-weight: bold;
	background-color: #fff;
	color: #9dbc8b;
	
}

.logo {
    width:200px;
    transition: all 0.4s ease;
}

.tabTron {
	background-color: #9dbc8b;
	margin-top: 1px;
}

.logo .sticky {
    width:100px;
}
.statsRow {
    background-color:white;
    color: red;
    
}

.statsRow h4{
	color: #9dbc8b;
}

.statsRow h3{
	color: gray;
}

.footer {
    background-color: #dddddd;
}

svg {
	display: inline-block;
}

.jumbotron .specialtron {
    position:fixed;
    
}

.chart {
    height:550px;
}

linechart {
	height: 200px;
}

.btn-chart {
	background-color: #f2f2f2;
	color: #9dbc8b;
	margin-bottom: 20px;
    transition: all 0.4s ease;
    border: 1px solid #9dbc8b;
}

.btn-chart:hover {
	background-color: white;
	color: #9dbc8b;
}

.btn-chart.selected {
	background-color:#9dbc8b;
	color: #f2f2f2;
}

.panel-body h5{
	color: #9dbc8b;
}

.panel-default > .panel-heading {
  background-color: red!important;
}