  <div id="signin" class="jumbotron" ng-show="!user.email">
  {{user.email}}
    <div class="container mainSplash">
      <div class="col-md-4"></div>

<!--      <div class="col-md-4 fadeInLeft animated">
        <img src="assets/logo.png" class="img img-responsive img-center">
      </div>-->

      <div class="col-md-4 fadeInDown animated">
        <form class="loginBox">
          <div class="form-group">
            <label for="loginEmail">Email address</label>
            <input id="loginEmail" type="email" class="form-control" ng-model="awareCtrl.credentials.email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="loginPassword">Password</label>
            <input id="loginPassword" type="password" class="form-control" ng-model="awareCtrl.credentials.password" placeholder="Password">
          </div>
          <p class="bg-danger" ng-show="awareCtrl.authError">{{awareCtrl.authError}}</p>
          <button type="submit" class="btn btn-login" ng-cloak ng-click="awareCtrl.login()"><span class="glyphicon glyphicon-log-in"> Login</span>
          </button>
<!--          <button ng-show="$scope.user" type="" class="btn bnt-login" ng-cloak ng-click="awareCtrl.logout()"><span class="glyphicon glyphicon-log-out"> Logout</span>
          </button>-->
        </form>
      </div>
    </div>
  </div>