/* @override http://elmaaler-c9-rasmuslp.c9.io/build/assets/style.css */

/* @override https://elmaaler-c9-rasmuslp.c9.io/src/css/style.css */

/* @override https://elmaaler-c9-rasmuslp.c9.io/style.css */

/* @override https://elmaaler-c9-rasmuslp.c9.io/style.css */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@media (max-width: 480px) {

	.container{
		width: 100%;
		padding: 0px;
		margin: 0 auto;
	}

	.jumbotron {
		padding: 0px;
	}
}

.container {
}

* {
	font-family: 'Lato';
}

html {
    overflow:scroll;
}

body {
    background-color: white;
}

.logoTron {
    background-color: #6ad1e6;
    margin-bottom: 0px;
}

.logo {
    transition: all 0.4s ease;
    width: 100px;
		padding-top: 50px;
}

.logo.shrink{

}


.loginBox {
	border: 1px dashed #fff;
	padding: 20px;
	border-radius: 10px;
	transition: all 0.4 ease;
	margin-top: 20px;
}

.password2 {
		transition: all 0.4s ease;
		display: show;
}

.specialMenu.shrink img{
	height: 0px;
	width: auto;
}

.specialMenu img{
	height: 100px;
	width: auto;

}

.specialMenu {
	margin-bottom: 40px;
	display: inline-block;
	background-color: white;
	background-color: #6ad1e6;
	border-bottom: 1px dashed #fff;

}

.panel-aware {
	border-radius: 10px;
	text-align: center;
}

.panel-heading{
	background-color: #6ad1e6;
	border-radius: 0px;
}

.panel-body .usage{
	color: #6ad1e6;
	font-weight: lighter;
	font-size: 25px;
}




.panel-heading h5{
	color: white;
	margin: 0px 0px 0px 0px;
	width: auto;
}

.panel-heading button {
	float: left;
}

.adminPanel {
	display:none !important;
}

.specialMenu *{
	color: white;
}

.loginBox label{
	float: left;
	color: #fff;
	font-weight: bold;
}

.loginBox input {
	padding: 20px;
	height: 60px;
}

.loginBox .btn-login{
	background-color: #fff;
	color: #6ad1e6;
	width: 49%;
	margin-top: 3px;
}

.nav li a:hover {
	background-color: #fff;
	color: #6ad1e6;

}

.navbar-header {
}

.nav li a {
		background-color: #6ad1e6;
		transition: all 0.4s ease;
}

.navbar-toggle {
	background-color: white;
	border-radius: 0;
}

.widget {
		text-align: center;
}

.widget.disabled h5{
	background-color: #dfdfdf;
}

.widget.disabled p {
	font-size: 100px;
	margin-top: 17px;
	cursor: pointer;
	color: #dfdfdf;
	transition: all 0.4s ease;
}

.widget.disabled p:hover {
	font-size: 100px;
	margin-top: 17px;
	cursor: pointer;
	color: #6ad1e6;
}



.widget.disabled img {
}

.widget-round {
	height: 125px;
	width: 125px;
	border-radius: 50%;
	background-color: #6ad1e6;
	text-align: center;
	margin: 0 auto;
	margin-top: -125px;
	border: 2px solid white;
	color: white;
}

.widget-round h2{
	padding-top: 20px;
	color: white;
}

.widget-rect {
		background-color: #fff;
		padding: 0px;
		border-radius: 10px;
		height: auto;

}

.widget h5 {
	padding: 10px;
	background-color: #6ad1e6;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 0px;

}
.widget h2 {
	padding: 10px;
	padding-bottom: 0px;
	margin: 0px;
	color: #b1b1b1;
	font-weight: lighter;
}

.widget p{
	color: #6ad1e6;
	font-weight: lighter;
	padding: 10px;
	padding-top: 5px;
}

.adminPanel {
	width: 200px;
	position: fixed;
	z-index: 20;
	bottom: 10px;
	left: 10px;
	display: block;
}


.tabContainer {
	color: white;
	padding: 40px;
	width: 100%;
	padding-bottom: 130px;
}


.text {
	width: 700px;
	transition: all 0.4s ease;

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#signin {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-color: #6ad1e6;
      z-index: 2000;
      text-align: center;
}

#signin img {
	height: 260px;
}

.img-center {
	margin:0 auto;
}

.btn-tab.selected{
	font-weight: bold;
	background-color: #fff;
	color: #14697a;

}

.jumbotron#stats {
	background-color: #f6f6f6;
	margin-bottom: 0px;
}

.jumbotron#graph {
		background-color: #ededed;
		border-top: 1px dashed #fff;

}

.jumbotron#pulse {
	background-color: white;
	height: 2px;
	padding: 0px;

}

.domain path {
	fill: none;
}

.jumbotron#pulse .widget-round{
	margin-top: -55px;
}

.statsRow h3{
	color: gray;
}

.footer {
    background-color: #6ad1e6;
    padding: 0px;
    margin-bottom: 0px;
}

.chartButtons {
	margin: 0 auto;
}


.chart {
	max-height: 500px;
}

.btn-chart {
	background-color: #ededed;
	color: #6ad1e6;
  transition: all 0.4s ease;
  background-color: #fff;
}

.widget-heading button {
	padding: 2px;
	margin-bottom: 0px;

}

.btn-chart:hover {
	background-color: #ebebeb;
	color: #6ad1e6;
}

.btn-chart.selected {
	background-color: #6ad1e6;
	color: white;
}

.widget {
}

.widget .turnedOn {
	width: 20px;
	height: 20px;
	background-color: #9fef7b;
		border-radius: 50%;
	margin: 0 auto;
	margin-top: 5px;
	-webkit-box-shadow: 0px 0px 3px 5px #e6fbe9;
	-moz-box-shadow: 0px 0px 3px 5px #e6fbe9;
	box-shadow: 0px 0px 3px 5px #e6fbe9;
	color: #e6fbe9;
	transition: all 0.4s ease;
}




.widget .turnedOff {
	width: 20px;
	height: 20px;
	background-color: #ef7b7b;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 5px;
	-webkit-box-shadow: 0px 0px 3px 5px #f2e1f2;
	-moz-box-shadow: 0px 0px 3px 5px #f2e1f2;
	box-shadow: 0px 0px 3px 5px #f2e1f2;
		transition: all 0.4s ease;

}

.popOver {
	position: absolute;
	background-color: #fff;
	padding: 10px;
	width: 660px;
	-webkit-box-shadow: 0px 0px 3px 5px #333;
	-moz-box-shadow: 0px 0px 3px 5px #333;
	box-shadow: 0px 0px 10px 3px #aaa;
	transition: all 0.4s ease;
	z-index: 9999;
}

.popOver span{
	margin-left: 40px;
	text-align: left;
	padding: 0px;
	display: block;
	width: 150px;
	color: gray;
}

.ledIndicator {
	display: inline-block;
	float: left;
	display: block;
	margin: 10px;
}


.currentUsageChange {
	font-size: 20px;
	font-weight: bold;
	transition: all 0.4s ease;
}

.currentUsageChange.negative{
	color: #ef7b7b;
}

.currentUsageChange.negative:before{
	content: "+";
}

.currentUsageChange.posetive:before{
}


.currentUsageChange.posetive{
	color: #9fef7b;
}

.ledIndicator .turnedOn {
	float: left;
}

.ledIndicator .turnedOff {
	float: left;

}

.jumbotron#stats {
	border-bottom: 1px dashed #fff;
}

.container h2 {
	color: #6ad1e6;
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}
.animate-enter.animate-enter-active {
    opacity: 1;
}